@import '../../../styles/globals.scss';

.EventList {
    padding: 0 $column-gutter;
}

.EventListHeader {
    display: flex;   
    justify-content: space-between;
    align-items: center;    
    color: $amaranth;
}

.EvnetListHeaderName {
    padding: 0 1em;
}

.More {    
    color: inherit;
    text-decoration: none;
}

.EventListItemTitle {
    color: $amaranth;
}