.EventDetails {    
    padding: 10px;
}

.EventDetailsHeader {
    display: flex;   
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    color: var(--ascentDarkColor);
}
