@import '../../styles/globals.scss';

.EventDetails {    
    padding: 8px $column-gutter;
}

.EventDetailsHeader {
    display: flex;   
    justify-content: space-between;
    align-items: center;
    text-align: center;    
    color: $amaranth;
}

.EvnetDeatilsHeaderName {
    padding: 0 $column-gutter;
}

.EventListHeader  {
    display: flex;   
    align-items: center;
}

