.EventDetails {    
    padding: 10px;
}

.EventDetailsHeader {
    display: flex;   
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    color: var(--ascentDarkColor);
}

.EventListHeader  {
    display: flex;   
    justify-content: center;
    align-items: center;
    padding: 10px 20px; 
    
}

h2 {
    color: var(--ascentDarkColor);
}