@import '../../styles/globals.scss';

@mixin button-bg($bg) {
    color: $white;
    text-decoration: none;
    padding: 2px 2px;
    margin: 2px 0;    
    font-size: 1.3em;
    border: solid 1px transparent;
    background: $bg;

    &::-moz-focus-inner {
        border: none;
    }

    &:focus {
        outline:0;
    }

    &:hover {
        background: darken(rgba( $bg, .1 ), 8%);
        transition: all 0.3s ease;
        
    }

    &:active {
        background: darken(rgba( $bg, .1 ), 25%);
    }

    &:disabled {
        background: darken(rgba( $bg, .7 ), 30%);
        cursor: not-allowed;
    }
}

.Button {
    @include button-bg(transparent);    
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Success {
    @include button-bg(#5C9210);      
}

.Danger {
    @include button-bg(#944317);
}

.Calendar {        
    @include button-bg(rgba(0,0,0,0)); 
    font-weight: bolder;
    border: solid 2px transparent;
    color: $yellow-sea;
    border-radius: 50%;
    width: 40px;
    height: 40px; 
}

.NavCircle {
    @include button-bg(rgba(0,0,0,0)); 
    font-weight: bolder;
    border: solid 2px $yellow-sea;
    color: $yellow-sea;
    font-weight: bolder;
    border-radius: 50%;
    width: 40px;
    height: 40px;    
}

.NavBorderText {
    @include button-bg(rgba(0,0,0,0)); 
    font-weight: bolder;
    border: solid 2px $yellow-sea;
    color: $yellow-sea;
    border-radius: 20px;
    padding: 0 20px;
    height: 40px;    
}