@import '../../styles/globals.scss';

.EventListRow {
	display: table-row;	
}

.ColumnEdit{
	width: 60px;
	display: table-cell;	
}

.ColumnId{
	width: 100px;
	display: table-cell;	
}

.ColumnName {
	width: auto;
	display: table-cell;
	
}

.FixedHeightContent {
	display: block;
	height: 40px;
	overflow: hidden;
}