.EventListRow {
	display: table-row;	
}

.ColumnId{
	width: 100px;
	display: table-cell;	
}

.ColumnName {
	width: 80%;
	display: table-cell;
	
}

.FixedHeightContent {
	display: block;
	height: 40px;
	overflow: hidden;
}