@import '../../styles/globals';

.EventList {
    padding: 8px 32px;
}

.EventListHeader {
    display: flex;   
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    color: $amaranth;
}

.More {
    color: $viking;
}

.EventListItemTitle {
    color: $amaranth;
}