@import '../../styles/globals.scss';

.EventList {
    padding: 8px $column-gutter;
}

.EventListHeader {
    display: flex;   
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    color: $amaranth;
}

.More {    
    color: inherit;
    text-decoration: none;
}

.EventListItemTitle {
    color: $amaranth;
}