.EventList {
    padding: 8px 32px;
}

.EventListHeader {
    display: flex;   
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    color: var(--ascentDarkColor);
}

.More {
    color: var(--shadeLightColor);
}

.EventListItemTitle {
    color: var(--ascentDarkColor);
}