@import '../../styles/globals.scss';

.Input {
    width: 100%;    
    box-sizing: border-box; 
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: $amaranth;
}
.Select {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 8px 8px;	
	display: block;
    width: 100%;
	box-sizing: border-box;
	
}