// fonts
$font-family: "Lato",
Helvetica,
sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

.fontLight {
  font-weight: $font-weight-light;
}

.fontRegular {
  font-weight: $font-weight-regular;
}

.fontHeavy {
  font-weight: $font-weight-heavy;
}