@import '../../styles/globals.scss';

.Toolbar {    
    width:100%;
    display: flex;
    height:auto;
    color: $kidnapper;
    background-color: $viking;
    align-items: center;          
}

.NavigationListConatiner {
    margin-left: 10px;
}

.Title {
    
    padding-left: 10px;    
}

@media (min-width: 768px) {    
    .Toolbar { 
        display: none;
    }    
  }

