.Toolbar {    
    width:100%;
    display: flex;
    height:60px;
    background: var(--shadeDarkColor);
    align-items: center;          
}

.NavigationListConatiner {
    margin-left: 10px;
}

@media (min-width: 768px) {
    .NavigationListConatiner {
        display: none;
    }
    .Toolbar { 
        background: var(--backgroundDeafult);   
    }
  }



.Toolbar div:hover {
    background: rgba(250,250,250,0.3);
}