@import '../../styles/globals.scss';

.Title {        
    width:100%;
    display: none;
    padding-left: $column-gutter;
    align-items: center;
    flex: 0 0 auto;
    color: $kidnapper;
    background-color: $viking;
    h1 {
        padding:3px 15px;
    }    
}

@media (min-width: 768px) {
    .Title {
        display: flex;        
    }
  }