.Title {        
    width:100%;
    display: none;
    height:60px;    
    align-items: center;
    flex: 0 0 auto;
    color: var(--backgroundColor);
    background-color: var(--shadeLightColor);
    
}

.Title h1 {
    padding:3px 15px;
}

@media (min-width: 768px) {
    .Title {
        display: flex;        
    }
  }