@import '../../styles/globals.scss';

.Editor {
	padding: $column-gutter;
	display: flex;
  	flex-direction: column;	    	
}

.Content {
	flex: 1 0 auto;
	
	ul {
		width:300px;

		li {
			
			//white-space: nowrap;
			//overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

@media (min-width: 768px) {
	.Content {
		ul {
			width: 600px;
		}
	}
  }
