.Layout {
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: row
}

.Container {
  display: flex; 
  flex-direction: column;
}

.Content {
   
}

@media (min-width: 400px) {
  .SideDrawer {
      position: relative;
      opacity: 1; 
      margin-left: 0;
  }

  .Layout {
    background: red;
  }
}

.TestLayout {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.TestContent {
 flex: 1; 
}

