.Layout {
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: row;  
  flex: 1 1 auto;
}

.Container {
  display: flex; 
  flex-direction: column;
  flex: 2 2 auto;
}

.Content {
   
}

.MyApp {
  display: flex;
  flex-direction: column;  
  height: 100vh;

  
}

.MainContent {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;  
}

.Footer {  
  flex: 0 0 auto;
  padding: 20px;
  background-color: lightgray;
}

