.Layout {
  display: flex;
  flex-direction: column;  
  height: 100vh;  
}

.MainContainer {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;  
}

.SideDrawerContainer {
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: row;  
  flex: 1 1 auto;
}

.ToolbarContainer {
  display: flex; 
  flex-direction: column;
  flex: 2 2 auto;
}

.ContentContainer {
   
}




