.SideDrawer {
    position: absolute;
    top: 0;
    bottom: 0;
    transition: all 0.2s ease-in-out;    
    width: 180px;
    background-color: lightgrey;
    padding: 32px 16px;
    z-index: 1;
    opacity: 1;
    flex: 1 1 180px;
    
}

.Open {
    opacity: 1;    
    margin-left: 0;
}

.Close {        
    opacity: 0;
    margin-left: -180px;
}

@media (min-width: 768px) {
    .SideDrawer {
        position: relative;
        opacity: 1; 
        margin-left: 0;
        flex: 1 1 180px;
    }
  }
  