@import '../../styles/globals.scss';

.SideDrawer {
    position: absolute;
    top: 0;
    bottom: 0;
    transition: all 0.2s ease-in-out;    
    width: auto;
    background-color:$kidnapper;
    padding: 8px $column-gutter;
    z-index: 1;
    opacity: 1;
    flex: 0 0 auto;
    
}

.Open {
    opacity: 1;    
    margin-left: 0;
}

.Close {        
    opacity: 0;
    margin-left: -400px;
}

@media (min-width: 768px) {
    .SideDrawer {
        position: relative;
        opacity: 1; 
        margin-left: 0;
        flex: 0 0 auto;
    }
  }
  