.SideDrawer {
    position: absolute;
    top: 0;
    bottom: 0;
    transition: all 0.2s ease-in-out;    
    width: 400px;
    background-color:var(--backgroundDefault);
    padding: 8px 8px;
    z-index: 1;
    opacity: 1;
    flex: 1 1 500px;
    
}

.Open {
    opacity: 1;    
    margin-left: 0;
}

.Close {        
    opacity: 0;
    margin-left: -500px;
}

@media (min-width: 768px) {
    .SideDrawer {
        position: relative;
        opacity: 1; 
        margin-left: 0;
        flex: 1 1 500px;
    }
  }
  