@import '../../styles/globals.scss';

.SideDrawer {
    position: absolute;
    top: 0;
    bottom: 0;
    transition: all 0.2s ease-in-out;    
    width: auto;
    background-color:$kidnapper;
    padding: 8px $column-gutter;
    z-index: 1;
    opacity: 1;
    flex: 0 0 auto;
    
}

.Language {
    padding-top: 20px;
}

.NavigationItems {
	margin: 0;
    padding: $column-gutter;
    list-style: none;
    display: flex;    
	flex-flow: row;
	justify-content: space-around;
    align-items: center;
}

.NavigationItem {
	width: 90px;
	height: 40px;
	margin: 10px 0;
    box-sizing: border-box;
	display: block;
	border: 1px solid $kidnapper;
	border-radius: 18px;
	text-align: center;
	
    
}

.NavigationItem a {
	padding: 10px;
    color: $amaranth;	
	font-weight: bolder;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: #40A4C8;
}

.Open {
    opacity: 1;    
    margin-left: 0;
}

.Close {        
    opacity: 0;
    margin-left: -400px;
}

@media (min-width: 768px) {
    .SideDrawer {
        position: relative;
        opacity: 1; 
        margin-left: 0;
        flex: 0 0 auto;
    }
  }
  