@import '../../../styles/globals.scss';

.Month {
    padding-top: 14px;
    z-index: 99;
}

.MonthHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $amaranth;
    font-weight: bold;
}

.WeekHeader {
    display: flex;
    background-color: $kidnapper;
    align-items: center;
    height: 2em;

    div {
        flex: 1 1 0;
        color: $viking;
        font-weight: bold;
        padding: 1px;
        text-align: center;
    }
}