.Month {
    max-width: 320px;
    margin: 10px auto;    
    padding-top: 10px;
    z-index: 99;
}

.MonthHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;    
}

.WeekHeader {
    display: flex;  
    background-color: var(--backgroundColor);
    align-items: center;
    height: 2em;
}

.WeekHeader > div {
    flex: 1 1 0;
    color: var(--shadeLightColor);
    padding: 1px;
    text-align: center;
    
}