@import '../../../styles/globals.scss';

.Editor {
	padding: 0 $column-gutter;
	display: flex;
  	flex-direction: column;	    	
}

.Content {
	display: table;	
}

@media (min-width: 768px) {
	.Content {		
	}
  }
