.EventListRow {
	display: table-row;	
}

.ColumnId{
	width: 40px;
	display: table-cell;	
}

.ColumnName {
	width: 90%;
	display: table-cell;
	
}

.FixedHeightContent {
	display: block;
	height: 40px;
	overflow: hidden;
}