@import '../../styles/globals.scss';

.Login {
	padding: $column-gutter;
	width: 300px;  	 
	margin: 0 auto;
	padding: ($column-gutter * 2) 0;	
}

.Input {					
	box-sizing: content-box;
	width: 100%;
	
	input {
		width: 100%;      
		padding: 8px 8px;
		margin: 24px 0;
		border: 1px solid lightgrey;
		display: block;
		box-sizing: border-box;
		border-radius: 18px;  
		&:focus{
			outline: none;
  			box-shadow: 0px 0px 3px $yellow-sea;
		}
	}
}

