@import '../../../styles/globals.scss';

$bw: 3px;  // border width

.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
}

.RtableCell {
  box-sizing: border-box;
  //flex-grow: 1;
  width: 100%;  // Default to full width
  padding: 0.8em 1.2em;
  overflow: hidden; // Or flex might break
  list-style: none;
  border: solid $bw $white;
  background: $kidnapper;
  height: 4.2em;
  > h1, > h2, > h3, > h4, > h5, > h6 { margin: 0; }
}

.IdCell {

	width: 30px;
}

.NameCell {
	width: 40%;
}

/* Table column sizing
================================== */
.Rtable2cols > .RtableCell  { width: 50%; }
.Rtable3cols > .RtableCell  { width: 33.33%; }
.Rtable4cols > .RtableCell  { width: 25%; }
.Rtable5cols > .RtableCell  { width: 20%; }
.Rtable6cols > .RtableCell  { width: 16.6%; }


/* Responsive
==================================== */
@media all and (max-width: $breakpoint) {
  .RtableCollapse  {
    display: block;
    > .RtableCell { width: 100% !important; }
    > .RtableCellFoot { margin-bottom: 1em; }
  }
}

